h1{font-family: fantasy; font-size: 30px; color: plum; text-align: center}
h2 {font-family: fantasy; font-size: 20px; color: plum; text-align: center}
p {font-family: fantasy; font-size: 14px; color: blueviolet; text-align: left}
   
.links{font-family: fantasy; font-size: 16px; color: #3b00b3; background-color: #eee6ff; border: solid black 1px; margin: auto; padding: 4px;}
